<!DOCTYPE html>
<html id="about">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="K&C Shipping Inc. Website">
        <meta name="author" content="Emmanuel Garcia">
        <title>About</title>
        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
        <link rel="stylesheet" href="../main.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif:700i" rel="stylesheet">
    </head>
    <body>

        <header>
            <nav id="navbar">
                <ul id="navlink">
                    <li><img id='logo' src="../img/logo.png" alt="K&C Shipping Inc. logo" /></li>
                    <li><a  href="../index.html">Home</a></li>
                    <li><a class="selected" href="./about.html">About</a></li>
                    <li><a href="./services.html">Services</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>

        <section class="section-header">
            <h2 class="section-title">
                <span>About</span>
            </h2>
            <div class="spacer"></div>
            <div class="section-content">
                K&C Shipping, Inc. is a privately held corporation which has been in business since 1985.
During the past decades we have successfully retained the majority of our original employees while expanding to new locations and adding to our staff. This success gives our customers the comfort of working with a team they are familiar with and can depend on to give them the up to the minute information they need in order to make an informed decision about whatever unexpected situation may occur during any port call.
            </div>
            <div class="section-list">
                <span class="section-title">Top Ports In Texas</span>
                <div class="spacer"></div>
                <ol class="section-list-items">
                    <li>Port of Houston</li>
                    <li>Port of Beaumont</li>
                    <li>Port of Corpus Christi</li>
                    <li>Port of Texas City</li>
                    <li>Port of Port Arthur</li>
                </ol>
            </div>
        </section>
        <aside class="weather">
            <a href="http://www.accuweather.com/en/us/houston-tx/77002/weather-forecast/351197" class="aw-widget-legal">
            <!--
            By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
            -->
            </a><div id="awcc1486948184367" class="aw-widget-current"  data-locationkey="351197" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1486948184367"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
        </aside>

    </body>
</html>
