<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Services</title>
        <meta name="description" content="K&C Shipping Inc. Website">
        <meta name="author" content="Emmanuel Garcia">
        <link rel="stylesheet" href="../main.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif:700i" rel="stylesheet">
        <script src="https://use.fontawesome.com/c2cb32e418.js"></script>
    <body>

        <header>
            <nav id="navbar">
                <ul id="navlink">
                    <li><img id='logo' src="../img/logo.png" alt="K&C Shipping Inc. logo" /></li>
                    <li><a  href="../index.html">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a class="selected" href="./services.html">Services</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>

        <section class="section-header">
            <h2 class="section-title">
                <span>Services</span>
            </h2>
            <div class="spacer"></div>
            <div class="section-list">
                <ul class="section-list-unordered-items">
                    <li><i class="fa fa-ship" aria-hidden="true"></i>Ship Owner Representation</li>
                    <li><i class="fa fa-ship" aria-hidden="true"></i>Owner Operated Representation</li>
                    <li><i class="fa fa-ship" aria-hidden="true"></i>Cargo Interest Representation</li>
                </ul>
            </div>

            <section class="section-table">
                <h2 class="section-title">Ports & Terminals</h2>
                <div class="spacer"></div>
                <table>
                    <thead>
                        <tr>
                            <th>Port of Houston</th>
                            <th>Port of Galveston</th>
                            <th>Port of Freeport</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HAT</td>
                            <td>TIT</td>
                            <td>BASF</td>
                        </tr>
                        <tr>
                            <td>CARGILL</td>
                            <td>POG</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>DERICHEBOURGE</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>HCC EAST</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>CEMEX</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </section>
        <aside class="weather">
            <a href="http://www.accuweather.com/en/us/houston-tx/77002/weather-forecast/351197" class="aw-widget-legal">
            <!--
            By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
            -->
            </a><div id="awcc1486948184367" class="aw-widget-current"  data-locationkey="351197" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1486948184367"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
        </aside>

    </body>
</html>
